.payment-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 196px);
    margin-top: 130px;
    box-sizing: border-box;
    &__msg {
        width: 100%;
        &__icon {
            max-width: 117px;
            width: 100%;
            margin: 0 auto;
        }
        &__description {
            text-align: center;
            margin-top: 20px;
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
}