.member-slideshow {
    position: relative;
    height: 208px;
    .VueCarousel-wrapper {
        opacity: 0.35;
        background: url('../images/member-cover.png') center center no-repeat;
        background-size: cover;
        z-index:-1;
    }
    .VueCarousel-pagination {
        position: absolute;
        z-index: 3;
        bottom: -8px;
        button:focus {
            outline: none;
        }
    }
}