.member-slideshow {
    position: relative;
    &__cover {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        img {
            height: 208px;
            object-fit: cover;
        }
    }
    .VueCarousel {
        height: 208px;
        .VueCarousel-wrapper {
            z-index:0;
            .VueCarousel-slide {
                img {
                    height: 208px;
                    object-fit: cover;
                }
            }
        }
        .VueCarousel-pagination {
            position: absolute;
            z-index: 3;
            bottom: -8px;
            button {
                &.VueCarousel-dot {
                    border: 1px solid #ffffff;
                    background-clip: unset;
                    margin-right: 8px;
                    margin-left: 8px;
                }
                &:focus {
                    outline: none;
                }
            }
        }   
    }
}