#user-verification {
    .form-title {
        margin-bottom: 42px;
    }
    .form-style__submit {
        margin-top: 178px;
    }
}

#reset-password {
    .form-title {
        margin-bottom: 42px;
    }
    .form-style__submit {
        margin-top: 178px;
    }
}