.form-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 164px);
    height: 100%;
    margin-top: 58px;
    box-sizing: border-box;
    .form-wrapper {
        margin-bottom: 54px;
    }
    .form-title {
        font-size: 19px;
        font-weight: 500;
        color: #ffcd05;
        margin-bottom: 30px;
    }
    .form-description {
        padding: 17px 0px;
        box-sizing: border-box;
        margin-top: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 17px 0px;
        box-sizing: border-box;
        &__label {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 5px;
            padding: 0px 8px;
            box-sizing: border-box;
            .show-password {
                display: flex;
                input[type="checkbox"] {
                    display: none;
                }
                input[type="checkbox"] + label {
                    display: flex;
                    align-items: center;
                    &::before {
                        content: "";
                        display: block;
                        width: 11px;
                        height: 11px;
                        border: #ffffff 1px solid;
                        border-radius: 50%;
                        margin-right: 6px;
                        cursor: pointer;
                    }
                    
                }
                input[type="checkbox"]:checked + label {
                    &::before {
                        background-color: #ffffff;
                    }
                }
            }
        }
        &__input {
            width: 100%;
            font-size: 17px;
            color: #ffffff;
            padding: 9px 8px;
            border: unset;
            background-color: unset;
            border-bottom: 1px solid #FFFFFF50;
            &::placeholder {
                color: #b9b9b9;
            }
        }
        &__code-input {
            max-width: 15%;
            width: 100%;
            height: 54px;
            font-size: 17px;
            color: #ffffff;
            text-align: center;
            border: 1px solid #FFFFFF50;
            border-radius: 3px;
            background-color: unset;
            margin-right: 12px;
            &:last-child {
                margin-right: unset;
            }
        }
        &__select {
            width: 100%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 17px;
            color: #b9b9b9;
            background-color: unset;
            border: unset;
            border-radius: unset;
            padding: 9px 8px;
            border-bottom: 1px solid #FFFFFF50;
            background: url('../images/arrow-down.png') right center no-repeat;
            background-size: 14px 8px;
            &._chk {
                color: #ffffff;
            }
        }
        &__subitem {
            max-width: 50%;
            width: 100%;
            padding-right: 7px;
            box-sizing: border-box;
            margin-bottom: 15px;
            &:last-child {
                padding-left: 7px;
            }
        }
        &__separate {
            font-size: 16px;
            color: #FFFFFF50;
            margin-right: 12px;
        }
        &__wrapper {
            display: flex;
            align-items: center;
            // 性別選項
            .gender {
                display: flex;
                padding-top: 16px;
                .gender-item {
                    input[type="radio"] {
                        display: none;
                    }
                    input[type="radio"] + label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                        color: #ffcd05;
                        border-radius: 3px;
                        border: 1px solid #ffcd05;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    input[type="radio"]:checked + label {
                        color: #000000;
                        background-color: #ffcd05;
                    }
                }
            }
            .ratype {
                display: flex;
                padding-top: 14px;
                padding-bottom: 17px;
                .ratype-item {
                    input[type="radio"] {
                        display: none;
                    }
                    input[type="radio"] + label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #b9b9b9;
                        padding-left: 26px;
                        cursor: pointer;
                        background: url('~assets/images/checkbox-gray.png') left center no-repeat;
                        background-size: 18px 18px;
                        margin-right: 24px;
                    }
                    input[type="radio"]:checked + label {
                        color: #ffffff;
                        background: url('~assets/images/checkbox-gray-chk.png') left center no-repeat;
                        background-size: 18px 18px;
                    }
                }
            }
        }
        .rp-error {
            color: #ff7f7f;
        }
    }
    &__change-tel {
        > a {
            color: #ffffff;
        }
    }
    &__resend {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        padding: 8px 0px;
        border: unset;
        border-radius: 6px;
        margin-top: 154px;
        margin-bottom: 16px;
        background-color: #8f8f8f;
        cursor: pointer;
        .resend-time-up {
            padding: 3px 0px;
            color: #000000; 
        }
        .resend-countdown {
            display: flex;
            align-items: center;
            &__time {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                width: 27px;
                height: 27px;
                background: url(../images/Rolling-1s-200px.svg) center center no-repeat;
                background-size: 100%;
            }
            &__title {
                margin-left: 7px;
            }
        }
        &.unblock {
            background-color: #b9b9b9;
        }
    }
    &__submit {
        padding-bottom: 28px;
        input{
            display: block;
            width: 100%;
            font-size: 15px;
            text-align: center;
            padding: 11px 0px;
            border: unset;
            border-radius: 6px;
            color: #565656;
            background: #8f8f8f;
        }
        &.unblock {
            input {
                color: #000000;
                background: -webkit-linear-gradient(to left,#ffcd05,#ff940b);
                background: -o-linear-gradient(to left,#ffcd05,#ff940b);
                background: -moz-linear-gradient(to left,#ffcd05,#ff940b);
                background: linear-gradient(to left,#ffcd05,#ff940b);
            }
        }
    }
}